<div class='row'>
  <div id='title' class='col-md-2 no-padding'>
    Finpal
  </div>
  <div class='col-md-7 no-padding'>
    <div class='header'></div>
    <div class='transactions'>
      <div class='row'>
        <div class='col-md-3' {{action 'sort_transactions' 'created_at'}}>
          Created at
          <span class={{if (eq currentOrder 'created_at') 'glyphicon glyphicon-chevron-down pointer' 'glyphicon glyphicon-chevron-up pointer'}}></span>
        </div>
        <div class='col-md-3' {{action 'sort_transactions' 'counterparty_name'}}>
          Counterparty
          <span class={{if (eq currentOrder 'counterparty_name') 'glyphicon glyphicon-chevron-down pointer' 'glyphicon glyphicon-chevron-up pointer'}}></span>
        </div>
        <div class='col-md-3' {{action 'sort_transactions' 'operation_type'}}>
          Operation
          <span class={{if (eq currentOrder 'operation_type') 'glyphicon glyphicon-chevron-down pointer' 'glyphicon glyphicon-chevron-up pointer'}}></span>
        </div>
        <div class='col-md-3' {{action 'sort_transactions' 'amount'}}>
          Amount
          <span class={{if (eq currentOrder 'amount') 'glyphicon glyphicon-chevron-down pointer' 'glyphicon glyphicon-chevron-up pointer'}}></span>
        </div>
      </div>
      <hr>
      {{#each model as |transaction|}}
        <div class='row select-transaction' {{action 'select_transaction' transaction}}>
          <div class='col-md-3'>
            {{transaction.formatedDate}}
          </div>
          <div class='col-md-3'>
            {{transaction.counterparty_name}}
          </div>
          <div class='col-md-3'>
            {{transaction.operation_type}}
          </div>
          <div class='col-md-3'>
            {{transaction.amount}} {{transaction.currency}}
          </div>
        </div>
        <hr>
      {{/each}}
    </div>
  </div>
  <div class='col-md-3 no-padding'>
    <div class='rightheader'></div>
    {{transaction-details transaction=selectedTransaction}}
  </div>
</div>
